/* Ẩn tất cả các danh mục con từ cấp 3 trở đi trên sidebar */
.chapter-item .on-this-page {
    display: none;
}
h3 {
    font-size: 16px;
}
h2, h3{
    margin: 10px 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5em;
    list-style-position: inside;
}
